manifest {
    description = 'Transcriptome assembly pipeline implemented with Nextflow' 
    author = 'Jelmer Poelstra'
}

//includeConfig conf/base.config

// Param defaults
params {
    outdir = "results/nf_tram"
    
    strandedness = "reverse"
    
    subset_fastq = false
    genome_fasta = false
    genome_index = false
    genome_bam = false
    
    trim_nextseq = false
    trim_qual = 5
    trim_len = 36

    nfiles_rcorr = 20
    kraken_db_url = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_20220926.tar.gz"
    kraken_db_dir = false
    
    k_abyss = "21,25,31,35,45,55,65,75,85"
    k_spades = "55,75,auto"
    min_contig_length = 300
    busco_db = false
    
    entap_config_init = "${projectDir}/conf/entap_config.ini"
    entap_config_final = false
    entap_diamond_db_dir = false
    entap_custom_db = false
    entap_refseq_type = "complete"
    entap_refseq_db = false
    entap_use_nr_db = true
    entap_use_tair_db = true
    entap_nr_db = false
    entap_swissprot_db = false
    entap_taxon = false
    entap_contam = false
    entap_qcov = 80
    entap_tcov = 60
    entap_eval = "1e-05"
    entap_fpkm = "0.5"

    skip_qc_reads = false
    skip_process_reads = false
    skip_assembly = false
    skip_qc_assembly = false
    skip_annotate = false
    skip_quantify = false
    skip_map2genome = false
    skip_entap_config = false

    reads_norm = false
    reads_nonorm = false
    assembly_1trans = false
    assembly_alltrans = false
    assembly_final = false
    tx2gene = false

    tracedir = "$params.outdir/trace"
    help = false
}

process {
    errorStrategy = {task.attempt <= 3 ? 'retry' : 'terminate'}
    maxRetries = 3

    withLabel: 'local_process' {
        cpus = 1
        memory = '4 GB'
    }
    withName: 'FASTQC' {
        conda = "/fs/ess/PAS0471/jelmer/conda/fastqc-0.11.9"
    }
    withName: 'MULTIQC' {
        conda = "/fs/ess/PAS0471/jelmer/conda/multiqc"
    }
    withName: 'TRIMGALORE' {
        conda = "/fs/project/PAS0471/jelmer/conda/trimgalore-0.6.7"
    }
    withName: 'RCORRECTOR' {
        conda = "/fs/ess/PAS0471/jelmer/conda/rcorrector-1.0.5"
    }
    withName: 'RCORRFILTER' {
        conda = "/fs/ess/PAS0471/jelmer/conda/rcorrector-1.0.5"
    }
    withName: 'SORTMERNA' {
        conda = "/fs/ess/PAS0471/jelmer/conda/sortmerna-env"
    }
    withName: 'KRAKEN' {
        conda = "/users/PAS0471/jelmer/miniconda3/envs/kraken2-env"
    }
    withName: 'KRONA' {
        conda = "/users/PAS0471/jelmer/miniconda3/envs/krona-env"
    }
    withName: 'ORNA' {
        conda = "/fs/ess/PAS0471/jelmer/conda/orna-2.0"
    }
    withName: 'TRINITY|TRINITY_GUIDED' {
        conda = "/fs/ess/PAS0471/jelmer/conda/trinity-2.13.2"
    }
    withName: 'TRANSABYSS_NORM|TRANSABYSS_NONORM' {
        conda = "/fs/project/PAS0471/jelmer/conda/transabyss-2.0.1"
    }
    withName: 'TRANSABYSS_NORM|TRANSABYSS_NONORM' {
        conda = "/fs/project/PAS0471/jelmer/conda/spades-3.15.5"
    }
    withName: 'INDEX_GENOME|MAP2GENOME' {
        conda = "/fs/ess/PAS0471/jelmer/conda/star-2.7.10a"
    }
    withName: 'TXIMPORT' {
        conda = "/fs/ess/PAS0471/jelmer/conda/r-deseq"
    }
}

// Profiles
profiles {
    local {
        process.executor = 'local'
    }

    test {
        process {
            errorStrategy = 'terminate'
            maxRetries = 0
            time = 5.hour
            memory = 32.GB
            cpus = 8

            withName: 'TRINITY|TRINITY_GUIDED' {
                time = 12.hour
            }
            withName: 'KRAKEN' {
                memory = 100.GB
                cpus = 25
            }
            withName: 'INDEX_GENOME' {
                queue = 'hugemem'
                memory = 1300.GB
                cpus = 42
            }
            withName: 'MAP2GENOME' {
                queue = 'hugemem'
                memory = 750.GB
                cpus = 16
            }
            withName: 'ENTAP' {
                cpus = 12
                time = 18.hour
            }
        }
    }
    
    normal {
        process {
            cpus = { 10 * task.attempt }
            memory = { 40.GB * task.attempt }
            time = { 5.hour * task.attempt }

            withName: 'RCORRECTOR' {
                time = 30.hour
                memory = 120.GB
                cpus = 30
            }
            withName: 'RCORRFILTER' {
                time = 12.hour
            }
            withName: 'KRAKEN' {
                memory = 100.GB
                cpus = 25
                time = 1.hour
            }
            withName: 'TRINITY|TRINITY_GUIDED' {
                time = 72.hour
                memory = 170.GB
                cpus = 42
            }
            withName: 'TRANSABYSS_NONORM|TRANSABYSS_NORM' {
                time = 36.hour
                memory = 170.GB
                cpus = 42
            }
            withName: 'SPADES' {
                queue = 'largemem'
                time = 36.hour
                memory = 400.GB
                cpus = 42
            }
            withName: 'INDEX_GENOME' {
                queue = 'hugemem'
                memory = 1300.GB
                cpus = 42
            }
            withName: 'MAP2GENOME' {
                queue = 'hugemem'
                memory = 750.GB
                cpus = 30
                time = 8.hour
            }
            withName: 'MERGE_BAM' {
                memory = 170.GB
                cpus = 30
                time = 16.hour
            }
        }
    }
}

// Enable reports and have better filenames
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
